@using EMA.Helpers
@using MarketModels;
@{
    ViewBag.Title = "Spot Price Forecast";
}

<style>
    #model-details table {width:100%;}
</style>

<script>
    SERVER_CONSTANTS = {
        TimeHorizons: @(Html.EnumTypeToJavascript<Types.TimeHorizon>()),
        ForecastMethods: @(Html.EnumTypeToJavascript<Types.ForecastMethod>()),
        SpikesPreprocessMethods: @(Html.EnumTypeToJavascript<Forecast.SpikePreprocess>()),
        ExogenousVariables: @(Html.Raw(ViewBag.ExogenousVariables)),
    };
</script>

<script src="~/Scripts/App/forecast.js"></script>

<div ng-controller="ForecastController">
    <div class="row">
        <div class="col-md-4">
            <h2>Price Forecast</h2>
            <p>
                A simple forecasting demonstration of the multivariate models for houly price. It also provides the
                ability to forecast in the historical period, thereby allowing for an easy evaluation of a model. 
                As well as point forecast, interval forecasts are calculated and a probability distribution surface is displayed.
            </p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="date-time-picker" class="control-label col-xs-4">Date</label>
                    <div class="col-xs-8">
                        @{Html.RenderPartial("~/Views/Components/DateTimePicker.cshtml", null, new ViewDataDictionary(){
                                        { "Id", "date-picker" }, { "ModelName", "date" },
                                        { "MinDate", new DateTime(2012,1,1) } });}
                    </div>
                </div>
                <div class="form-group">
                    <label for="menu-fm" class="control-label col-xs-4">Forecast Method</label>
                    <div class="col-xs-8">
                        @{Html.RenderPartial("~/Views/Components/DropDownList.cshtml", null, new ViewDataDictionary(){
                              { "Id", "menu-fm" } , { "ModelName", "ForecastMethods" }, { "SelectedValue", "forecastMethod" } });}
                    </div>
                </div>
                <div class="form-group">
                    <label for="menu-sp" class="control-label col-xs-4">Spikes Preprocess</label>
                    <div class="col-xs-8">
                        @{Html.RenderPartial("~/Views/Components/DropDownList.cshtml", null, new ViewDataDictionary(){
                              { "Id", "menu-sp" } , { "ModelName", "SpikesPreprocessMethods" }, { "SelectedValue", "spikesPreprocessMethod" } });}
                    </div>
                </div>
                <div class="form-group">
                    <label for="menu-ev" class="control-label col-xs-4">Exogenous Variables</label>
                    <div class="col-xs-8">
                        @{Html.RenderPartial("~/Views/Components/SelectionList.cshtml", null, new ViewDataDictionary(){
                              { "Id", "menu-ev" } , { "ModelName", "ExogenousVariables" }, { "SelectedValues", "exogenousVariables" } });}
                    </div>
                </div>
                <div class="form-group">
                    <label for="menu-th" class="control-label col-xs-4">Time Horizon</label>
                    <div class="col-xs-8">
                        @{Html.RenderPartial("~/Views/Components/DropDownList.cshtml", null, new ViewDataDictionary(){
                              { "Id", "menu-th" } , { "ModelName", "TimeHorizons" }, { "SelectedValue", "timeHorizon" } });}
                    </div>
                </div>
                @{Html.RenderPartial("~/Views/Components/InputText.cshtml", null, new ViewDataDictionary(){
                                        { "Id", "confidence" }, { "Label", "Confidence (%)" } });}
            </form>                   
        </div>
        <div class="col-md-8">
            <h2>Result</h2>
            <div id="container" style="height: 400px; min-width: 310px"></div>
            <div id="model-details" class="row">
                <div class="col-md-6">
                    @Html.Partial("~/Views/Components/ModelSummary.cshtml")
                    @Html.Partial("~/Views/Components/ForecastFit.cshtml")                    
                </div>
                @*<div class="col-md-8">
                    <iframe id="MarketCurvesFrame" src="{{ForecastSurfaceIframeUrl}}"
                            style="width: 100%; height: 480px; border: 0;" frameBorder="0"></iframe>
                </div>*@
            </div>                 
        </div>
    </div>
</div>
